In [1]:
import psycopg2
import pandas as pd
import numpy as np
import math
import socket
import os
import json

In [2]:
sql = """
    insert into belly_button.biodiversity_otu_id (otu_id, lowest_taxonomic_unit_found) values(%s, %s)
    ON CONFLICT DO NOTHING ;
"""

In [3]:
hostname = socket.gethostname()
print("socket.hostname():", hostname)
try:
    if (hostname == 'XPS'):   
        conn = psycopg2.connect(os.environ['LOCAL_POSTGRES'])
        print('Connection okay.')
    elif (hostname == 'DESKTOP-S08TN4O'):   
#         conn = psycopg2.connect('dbname=postgres user=postgres password=welcome')
        conn = psycopg2.connect(os.environ['LOCAL_POSTGRES'])
        print('Connection okay.')
    else:
        conn = psycopg2.connect(os.environ['AWS_POSTGRES'])
        print('Connection okay.')
except Exception as e:
    print('Connection failed:', e)

socket.hostname(): DESKTOP-S08TN4O
Connection okay.

In [4]:
try:
    cur = conn.cursor()
    print('Cursor okay.')
except Exception as e:
    print('Cursor failed:', e)

Cursor okay.

In [5]:
df = pd.read_csv('instructions/Datasets/belly_button_biodiversity_otu_id.csv')
df.head()

   otu_id                        lowest_taxonomic_unit_found
0       1  Archaea;Euryarchaeota;Halobacteria;Halobacteri...
1       2  Archaea;Euryarchaeota;Halobacteria;Halobacteri...
2       3  Archaea;Euryarchaeota;Halobacteria;Halobacteri...
3       4  Archaea;Euryarchaeota;Methanobacteria;Methanob...
4       5  Archaea;Euryarchaeota;Methanobacteria;Methanob...

In [6]:

list_otu_id = list(df.otu_id)

list_lowest_taxonomic_unit_found = list(df.lowest_taxonomic_unit_found)

for index, otu_id in enumerate(list_otu_id):
    
#     print(index, otu_id, list_lowest_taxonomic_unit_found[index])
    
    try:
        cur.execute(sql, (int(otu_id), list_lowest_taxonomic_unit_found[index]))
        if (index%100 == 0):
            print("index:", str(index))
    except Exception as e:
        print('SQL failed:', e)
    
print('SQL okay.')

index: 0
index: 100
index: 200
index: 300
index: 400
index: 500
index: 600
index: 700
index: 800
index: 900
index: 1000
index: 1100
index: 1200
index: 1300
index: 1400
index: 1500
index: 1600
index: 1700
index: 1800
index: 1900
index: 2000
index: 2100
index: 2200
index: 2300
index: 2400
index: 2500
index: 2600
index: 2700
index: 2800
index: 2900
index: 3000
index: 3100
index: 3200
index: 3300
index: 3400
index: 3500
index: 3600
SQL okay.

In [7]:
try:
    conn.commit()
    print('Commit okay.')
except Exception as e:
    print('Commit failed:', e)

Commit okay.

In [8]:
# rows = cur.fetchall()

In [9]:
# print("\nShow me the databases:\n")

In [10]:
# for row in rows:
#     print("    ", row[0])

In [11]:
try:
    conn.close()
    print('Close okay.')
except Exception as e:
    print('Close failed:', e)

Close okay.